<%= render 'common_template/admin_header' %>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <h2>ジャンル編集</h2>

                <%= form_for(@genre) do |genre| %>

                    <div class="row form-group">
                        <div class="item-form"><%= genre.label :ジャンル名 %></div>
                        <div class="col-md-10"><%= genre.text_field :genre, autofocus: true, autocomplete: "off", class: "form-control" %></div>
                    </div>

                        <div class="actions">
                            <%= genre.submit "変更する", class: "btn btn-primary actions" %>
                        </div>

                        <%= link_to '戻る', genre_path %>

                <% end %>
        </div>
        <%# <div class="col-md-2"></div> %>
    </div>
</div>

<%= render 'common_template/footer' %>