<%= render 'common_template/admin_header' %>

<div class="container">
    <div class="row">

    <%# サイドメニュー & genre追加form ここから %>
        <div class="col-md-3">
            <%= render 'common_template/admin_box' %>
            <%= render 'common_template/add_genre' %>
        </div>
    <%# サイドメニュー & genre追加form ここまで %>

        <div class="col-md-9">
            <h2>ジャンル</h2>

<table class="table table-striped table-responsive">
            <thead>
                <tr>
                <th><strong>ジャンル名</strong></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% @genres.each do |f| %>
                <tr>
                    <td><%= f.genre %></td>
                    <td><%= link_to "削除", destroy_genre_path, method: :delete , class: "btn btn-danger", data: { confirm: "本当に削除しますか？"}%></td>
                </tr>
                <% end %>
            </tbody>
            </table>

        </div>
    </div>
</div>

