<%= render 'common_template/admin_header' %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>登録ユーザー一覧</h2>


<%# 検索バーをかくとこ！！！！　ここから %>
                <div class="row">
                    <div class="col-md-4">

                        <h3>検索</h3>
                        <%= search_form_for @q, url: admins_path do |f| %>
                        <div class="form-box">
                            <%= f.label :ユーザー名 %>
                            <%= f.search_field :neme_cont_any, class: "form-control pull-left", :style=>"width: 67%;" %>

                            <%= f.label :年齢 %>
                            <%= f.number_field :age_gteq %>以上〜
                            <%= f.number_field :age_lt %>未満

                            <%= f.label :性別 %>
                            <%= f.radio_button :sex_eq, '', {:checked => true} %>指定なし
                            <%= f.radio_button :sex_eq, 1 %>男性
                            <%= f.radio_button :sex_eq, 2 %>女性
                            <%= f.radio_button :sex_eq, 3 %>子ども

                            <%= f.submit '検索', class: "btn btn-default", :style=> "width:33%;" %>
                        </div>

                        <% end %>

                    
                    
                    </div>
                </div>
<%# 検索バーをかくとこ！！！！　ここまで %>

                



        </div>
    </div>
</div>