<%= render 'common_template/admin_header' %>

<div class="container">
    <div class="row">


    <%# サイドメニューここから %>
        <div class="col-md-3">
            <%= render 'common_template/admin_box.html' %>
        </div>
    <%# サイドメニューここまで %>

        <div class="col-md-9">
            <h2>ユーザー一覧</h2>

<%# 検索バーをかくとこ！！！！　ここから %>
                <div class="row">
                    <div class="col-md-5">

                        <%= render 'common_template/admin_search' %>

                    </div>
                </div>
<%# 検索バーをかくとこ！！！！　ここまで %>


            <table class="table table-striped table-responsive">
            <thead>
                <tr>
                <th><strong>ユーザー名</strong></th>
                <th><strong>年齢</strong></th>
                <th><strong>性別</strong></th>
                <th><strong>ステータス</strong></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% @end_users.each do |f| %>
                <tr>
                    <td><%= f.name %></td>

                <% if f.age == -1 %>
                        <td><%= '未回答' %></td>
                <% else %>
                        <td><%= f.age %></td>
                <% end %>
                    <td><%= f.sex %></td>
                    <%# 削除済みの場合は「削除」の表示 %>
                    <td class = "red-text"><%= f.deleted_at ? "削除済" : "アクティブ"  %></td>
                    <td><%= link_to "詳細", admin_path(f.id), class: "btn btn-primary"%></td>
                </tr>
                <% end %>
            </tbody>
            </table>
            <%= paginate @end_users, class: "paginate" %>
        </div>
    </div>
</div>

<%= render 'common_template/footer' %>