<%= render 'common_template/header' %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 class="setting-page">各種設定</h2>
            <div class="setting-link"><%= link_to "プロフィール編集",  edit_end_user_path, class: "btn btn-default setting-btn" %></div>
            <div class="setting-link"><%= link_to "メールアドレス変更",  change_email_end_users_path, class: "btn btn-default setting-btn" %></div>
            <div class="setting-link"><%= link_to "パスワード変更",  change_password_end_users_path, class: "btn btn-default setting-btn" %></div>

            <div class="link"><%= link_to "戻る", end_user_path(@end_user.id) %></div>
        
        </div>
    </div>
</div>
<%= render 'common_template/footer' %>