<%# Font Awesome %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
<%= render 'common_template/header' %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <%# 投稿ページ %>
            <h2 class="page-title">投稿フォーム</h2>

            <%= form_for(@post) do |f| %>

            <div class="form-group">
                <div class="item-form"><%= f.label :画像 %>
                <em>必須項目</em></div>
                <%= f.attachment_field :image %>
            </div>

            <div class="form-group">
                <div class="item-form"><%= f.label :本文 %></div>
                <%= f.text_area :comment %>
            </div>

            <div class="form-group">
                <div class="item-form"><%= f.label :スタイル %>
                <em>必須項目</em></div>
                <%= f.select :style_id, Post.styles.keys, :prompt => "選択してください", class: 'form-control' %>

            </div>

            <div class="form-group">
                <div class="item-form"><%= f.label :ジャンル %>
                <em>必須項目</em></div>
                <%= f.collection_select :genre_id,Genre.all.order('genre'), :id, :genre, {:prompt => "選択してください"}, {class: "form-control genre"} %>
            </div>

            <div class="form-group">
                <div class="item-form"><%= f.label :コーデの性別 %>
                <em>※必須項目</em></div>
                <%= f.select :sex_post, Post.sex_posts.keys, :prompt => "選択してください", class: 'form-control' %>
            </div>

            <div class="text-center">
                <%= f.submit "投稿する", class:"btn btn-default", :style=> "width:50%;" %>
            </div>
                <% end %>
                <div><%= link_to "戻る", end_user_path(current_end_user) %></div>
            </div>
        </div>
    </div>
</div>