<!DOCTYPE html>
<html>
  <head>
    <title>Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# Font Awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >

  </head>


  <body>
    <%= yield %>
  </body>
</html>
